{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{% static 'todo/css/main.css' %}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://b4rtware.github.io/favicons/apple-touch-icon.png?v=A0eQyrX6JR">
    <link rel="icon" type="image/png" sizes="32x32" href="https://b4rtware.github.io/favicons/favicon-32x32.png?v=A0eQyrX6JR">
    <link rel="icon" type="image/png" sizes="16x16" href="https://b4rtware.github.io/favicons/favicon-16x16.png?v=A0eQyrX6JR">
    <link rel="manifest" href="https://b4rtware.github.io/favicons/site.webmanifest?v=A0eQyrX6JR">
    <link rel="mask-icon" href="https://b4rtware.github.io/favicons/safari-pinned-tab.svg?v=A0eQyrX6JR" color="#5bbad5">
    <link rel="shortcut icon" href="https://b4rtware.github.io/favicons/favicon.ico?v=A0eQyrX6JR">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://b4rtware.github.io/favicons/browserconfig.xml?v=A0eQyrX6JR">
    <meta name="theme-color" content="#ffffff">

    <!-- No Cache -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- Description Tags -->
    <meta name="description" content="Eine simple, intuitive Website zum Verwalten von ToDo's" />
    <meta name="keywords" content="2DO4YOU, todo" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="language" content="English">
    <title>2DO 4YOU</title>

    <!-- Font which is used for Icons -->
    <link href="{% static 'todo/vendor/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="todo/">
            <span class="title-text">2</span>DO
            <span class="title-text">4</span>YOU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="todo/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="impressum.html">Impressum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Create</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- site specific content -->
    <section class="content">
        {% block content %}
        {% endblock content %}
    </section>


    <!-- Footer -->
    <footer class="footer fixed-bottom bg-primary">
        <!--Copyright-->
        <div class="footer-copyright small"> © 2018 Copyright: Simon Schiller, René Karraß
            <span>
                <a href="index.html"> &#127760; </a>
            </span>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>