{% extends "todo/base.html" %} {% block content %}

<div class="contact-class" id="contact-class-id">
    <div class="card-columns" style="column-count: 1; ">
        <div class="card">
            <div class="card-header">
                <h1>Contact</h1>
            </div>
            <div class="card-body">
                <!-- Impressum -->
                <a style="color:black;" href="https://github.com/B4rtware" target="_blank">
                    <span class="oi oi-person"></span>
                </a>Simon Schiller
                <br>
                <a style="color:black;" href="https://github.com/Re-Krass" target="_blank">
                    <span class="oi oi-person"></span>
                </a>René Karraß




            </div>
        </div>


    </div>
    <p>&nbsp;</p>
</div>

{% endblock content %}