{% extends "todo/base.html" %}

{% block content %}
<div class="content-single-card">
<form action="{% url 'create' %}" method="post" id="single-card">
    <div class="card">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="card-header">
            <h3>New Entry</h3>
        </div>
        <div class="card-body">
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</form>
</div>
{% endblock content %}

{% block javascript %}
    <script>
        // script for initializing the jquery ui elements and events
        $(function () {
            $(".datepicker").datepicker();
            // initialize slider and callback on change
            $("#slider").slider({
                slide: function (event, ui) { }
            });
            // bind an event listener to the slidechange event (http://api.jqueryui.com/slider/)
            $("#slider").on("slide", function (event, ui) {
                $("#create-progressbar").attr("aria-valuenow", ui.value).css("width", ui.value + '%').text(ui.value + '%');
            });
        });

        $(document).ready(function() {
            var form = $("#create");
            form.submit(function(event) {
                event.preventDefault();
                var serializedFormData = form.serialize();
                var formUrl = form.attr("data-url")
                $.ajax({
                    method: "POST",
                    url: formUrl,
                    data: serializedFormData,
                    success: OnAjaxSuccess,
                    error: OnAjaxFailure,
                });

                function OnAjaxSuccess(data) {
                    $("body").append(
                        '<div class="alert alert-success">' + '<strong>Success!</strong> ' + data["message"] + '</div>'
                    )
                }

                function OnAjaxFailure(error) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock javascript %}